{% extends 'groups/nav-base.html' %}
{% load static %}

{% block title %}
    Dashboard
{% endblock %}

{% block body %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <div class="contact-clean">
            <div class="division groups" style="width: 50%; height: 110%; overflow: scroll;">
                <div class="form-group group2">
                    <form style="width: 80%; max-width: none;">
                        {% if not groups %}
                        <a href="{% url 'join-group' %}">
                            <span style="border:2px solid black; padding:20px; margin-left: 45%; width:10%">
                                + Join Group
                            </span>    
                        </a>
                    </form>
                    {% else %}
                        {% for group in groups %}
                            <form style="width: 80%; max-width: none;">
                                <h4 style="font-weight: bold;">
                                    <a href="{% url 'group-home' code=group.code%}">
                                        {{group.name.title}}
                                    </a>
                                </h4>
                                <p style="font-style: italic;">
                                    Owner: &emsp13; {{group.owner}}
                                </p>
                                <p style="font-style: italic;">
                                    Code: &emsp13; {{group.code}}
                                </p>
                                <h5 style="font-size: 100;">
                                    {{group.description}}
                                </h5>
                            </form>
                            <br>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="division checklist">
                <div class="checklist-sub">
                    <a href="{% url 'checklist' %}">
                        <h2 style="margin: 0;">
                            Checklist
                        </h2>
                    </a>
                </div>
            </div>
            <div class="division whiteboard">
                <div class="checklist-sub">
                    <a href="#whiteboard">
                        <h2 style="margin: 0;">
                            Whiteboard
                    </h2>
                    &emsp13;&emsp13;&emsp13;&emsp13;&emsp13;(coming soon)
                    </a>
                </div>
            </div>
            <div class="division whiteboard">
                <div class="checklist-sub">
                    <a href="#audio">
                        <h2 style="margin: 0;">
                            Audio Room
                    </h2>
                    &emsp13;&emsp13;&emsp13;&emsp13;&emsp13;(coming soon)
                    </a>
                </div>
            </div>

        </div>
        <style>
            .contact-clean form{
                margin-right: 5px;
                margin-left: 60px;
                border: 2px solid rgba(0,0,0,0.3);
            }
            .division{
                float: left;
                width: 40%;
            }
            .checklist{
                margin-top: 2%;
            }
            .whiteboard{
                margin-top: 3%;
            }
            .checklist, .whiteboard{
                background-color: #ffffff;
                height: 25%;
                margin-left: 30px;
                margin-right: 10px;
                justify-content: center;
                display: flex;
                box-shadow: rgba(0,0,0,0.1);
                border: 2px solid rgba(0,0,0,0.3);
            }
            .checklist-sub{
                width: 50%;
                justify-content: center;
                display: flex;
                margin: auto;
                color: #505e6c;
            }
            a{
                color: inherit;
                text-decoration: none;
            }
            a:hover{
                color: inherit;
                text-decoration: none;
                text-shadow: 1px 1px #505e6c;
            }
        </style>
        <script>
            $(".contact-clean").css("height",window.innerHeight-90);
        </script>
{% endblock %}
