{% extends 'groups/nav-base.html' %}
{% load static %}

{% block title %}
    Create Group
{% endblock %}

{% block body %}
    <div class="container border rounded-0 border-light" style="height: 100%;text-align: center;margin-top: 10%;">
        <!--Comment--><button class="btn btn-outline-primary text-capitalize text-center d-lg-flex justify-content-center justify-content-lg-center" type="button" style="padding: 1% 10%;border-color: rgb(0,32,63);margin: auto;margin-top: 50px;">Create Group</button>
        <button
            class="btn btn-outline-primary d-lg-flex justify-content-lg-center" type="button" style="padding: 1% 10%;margin: auto;margin-top: 50px;border-color: rgb(0,32,63);">&nbsp;Join&nbsp; Gorup&nbsp; &nbsp;</button>
    </div>
{% endblock %}
