{% extends 'groups/nav-base.html' %}
{% load static %}

{% block title %}
    Create Group
{% endblock %}

{% block body %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <div class="contact-clean" style="height: 560px;">
            <form method="POST" action="{%url 'create-group'%}">
                <h2 class="text-center">Create Group</h2>
                {% csrf_token %}
                <!-- {{ form.as_p }} -->
                {% if status == 'hassubs' %}
                    {% for field in form %}
                        <div class="group2">
                            {{ field }}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">
                            CREATE
                        </button>
                    </div>
                {% else %}
                    <p style="text-align: center;">
                        you have no active subscriptions :(
                            <br>
                        <a href="subscribe">
                            click here
                        </a>
                        to subscribe for more!
                    </p>
                {% endif %}
            </form>
        </div>
{% endblock %}