{% extends 'groups/nav-base.html' %}
{% load static %}
{% block title %}
Group Home
{% endblock %}
{% block body%}

    <div style="padding:0; height: 560px; border: 2px solid red;">
        <div class="top-sec">
            <div class="back-to-dashboard text-muted">
                <a href="#">
                    <h4> Back To Dashboard</h4>
                </a>
            </div>
            <div class="group-title text-muted">
                <a href="#">
                    <h3>
                        Group {{group.title}}
                    </h3>    
                </a>
                <h5>
                    {{group.code}}
                </h5>
            </div>
        </div>
        <div class="sec sec-1">
            <div class="sub-1">
                <div class="sub-1-border">
                    <h3>
                        Quiz
                    </h3>
                </div>

            </div>
            <div class="sub-1">
                <div class="sub-1-border">
                    <h3>
                        Whiteboard
                    </h3>
                </div>

            </div>
            <div class="sub-1">
                <div class="sub-1-border">
                    <h3>
                        A / V
                    </h3>
                </div>

            </div>
        </div>
        <div class="sec sec-2">
            <div class="sec-title">
                <h4>
                    Tasks
                </h4>
            </div>
            <div class="sub-check">
                hi
                <br>
                INTEGRATE TASKS HERE
            </div>
        </div>
        <div class="sec sec-3">
            <div class="sec-title">
                <h4>
                    Checklist
                </h4>
            </div>
            <div class="sub-check">
                hi
                <br>
                INTEGRATE Checklist HERE
            </div>
        </div>
    </div>
{% endblock %}