{% extends 'groups/nav-base.html' %}
{% load static %}
{% block title %}
  Join Group
{% endblock %}
{% block body%}
        <div class="contact-clean" style="height: 560px;">
            <form>
                <h2 class="text-center"> {{ group.name.title }}
                    <br>
                    <span style="font-size:60%"> {{group.type}} </span>
                </h2>
                <p style="text-align: center;">
                    {{ group.description }}
                    {% comment %} <div class="form-group"><small class="form-text text-muted">{{group.description}}</small></div> {% endcomment %}
                </p>
                <div>
                    {% if status == 'requested'%}
                        <h6 style="text-align: center; color: blue">
                            request waitimg to be accepted!
                        </h6>
                    {% else %}
                    <small class="form-text text-center" style="color: rgb(215,20,20);margin-bottom: 25px;">You are not a part of this group! Request to join and wait until accepted!</small>
                        <!-- <a href="{% url 'add-member' code=code isreq='TRUE' %}" style="heigh:100%;width:100%;border:2px solid black"> -->
                            <button class="btn btn-primary d-sm-flex justify-content-sm-start align-items-sm-end form-group" type="button" style="margin: 0 auto;">
                                <a href="{% url 'add-member' code=code isreq='TRUE' %}">
                                    Request                                    
                                </a>
                            </button>    
                        <!-- </a> -->
                    {% endif %}
                </div>
        </form>
        </div>
{% endblock %}