{% extends 'groups/nav-base.html' %}
{% load static %}

{% block body %}
<div class="contact-clean">
    <div class="form-group group2">
        <h3>
            Create Task
        </h3>
        <form method="POST" action="{% url 'create-task' code=code%}">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="button" style="color: white ;background-color: #28a745; border-color: #28a745;">Create</button>
        </form>
    </div>
</div>
<style>
    body{
      background-color: #f1f7fc;
    }
    .contact-clean{
        padding-top: 20px;
    }
    .container{
      background-color: white;
    }
    label{
      font-weight: bold;
    }
    h3{
      text-align: center;
      color: #505E6C;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif  ;
    }
  </style>
  
{% endblock %}