.navbar{
    height: 30%;
}
.top-sec{
    width: 94%;
    height: 20%;
    margin: 10px 2% 10px 3%;
    display: flex;
}
.back-to-dashboard{
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.back-to-dashboard h4{
    font-weight: bold;
    font: normal 20px serif;
    text-decoration: underline;
    text-underline-offset: 2px;
}
