{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="../../static/css/auth.css">
    <!-- <link rel="stylesheet" href="{% static 'css/auth.css' %}"> -->
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <div class="outline">
        <div class="image-wrapper">
        </div>
        <div class="info">
            <div class="ghetto-wrapper">
                <div class="ghetto">
                </div>
            </div>
            <!-- <h1 style="font-weight: bold; color: crimson; font-size: 385%;font-family: Georgia, 'Times New Roman', Times, serif;">GhettoGroupo</h1> -->
            <h2 style="font-size: 180%; margin-top: 1   %; margin-bottom: 0; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> Register Today!</h2>
            <div class="form-div">
                {% if form.errors %}
                        <p style="color: red">An error has occured! Try again!</p>
                {% endif %}
                <form method="POST" action="{%url 'register'%}">
                    {% csrf_token %}
					{% for field in form %}
						<div class="group2">
							<!-- <label for="{{field.id_for_label}}" class="label"> {{ field.html_name }} </label> -->
							{{ field }}
							{% for error in field.errors %}
								<p style="color: red">{{ error }}</p>
							{% endfor %}
						</div>
                    {% endfor %}
                    <div class="foot-lnk" style="margin-top: 1%">
                        {# <a href="{%url 'password_reset'%}">forgot password?</a>#}
                         <br>
                         <a href="{% url 'login' %}">Already have an account? Login here</a>
                     </div> 
					<div class="group">
					  <button type="submit" class="button" >Register</button>
					</div>
				</form>
            </div>
            <div>
                <span style="color: gray;">___________________________________________________</span>
                <br>
                <a href="{% provider_login_url 'google' %}">
                    <img src="../../static/img/google.png" alt="google" style="height: 25px; margin-top: 5px;">
                    &emsp13;
                    &emsp13;
                    <img src="../../static/img/twitter.png" alt="google" style="height: 25px; margin-top: 5px;">
                </a>
            </div>
        </div>
    </div>
    <script>
        $(".outline").css("height",window.innerHeight-20);
        $(".outline").css("width",window.innerWidth-20);
        $(".image-wrapper").css("width",window.innerWidth/3);
        $(".image-wrapper").css("height",window.innerHeight-20);

        if ($(document).width() > $(window).width()){
                $(".image-wrapper").css("width",window.innerWidth/3);
                $(".image-wrapper").css("height",window.innerHeight-20);
                $(".outline").css("width",window.innerWidth-30);
            }
        function update() {
            $(".outline").css("height",window.innerHeight-20);
            $(".outline").css("width",window.innerWidth-20);
            
            $(".image-wrapper").css("height",window.innerHeight-20);
            $(".image-wrapper").css("width",window.innerWidth/3);

            if ($(document).width() > $(window).width()){
                $(".image-wrapper").css("height",window.innerHeight-20);
                $(".outline").css("width",window.innerWidth-30)
            }
        }

        $(window).resize(function() {
            update();
        });
    </script>

</body>
</html>
{% endblock %}